.clients{
.clients__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-color-text);
    margin-bottom: 50px;
}

.clients__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

&__item:not(:last-child) {
    margin-right: 30px;
}

.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__link:hover,
&__link:focus {
    border: 1px solid var(--acent-color-text);
}

&__link:hover &__icon,
&__link:focus &__icon {
    fill: var(--acent-color-text);
}
}