.values {
    padding-bottom: 0;
}

.values__lists {
    display: flex;
}

.values__list {
    margin-right: 30px;
    width: 270px;
}

.values__list:last-child {
    margin-right: 0;
}

.values__title {
    color: var(--secondary-color-text);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.values__text {
    font-size: 14px;
    line-height: 1.71;
}


.values__box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 270x;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
}

.values__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70px;
    height: 70px;
}